* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
}

i {
    cursor: pointer;
}

#app {
    height: 100vh;
    display: flex;
}

/* contact-box */

.contact-box {
    background-color: red;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.profile {
    background-color: #eaeaea;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.image-profile {
    width: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

img {
    border-radius: 50%;
}

.icon-profile {
    display: flex;
    gap: 15px;
    color: #b1b1b1;
}

.desktop {
    background-color: #77dbff;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.desktop-notifications i {
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    color: #77dbff;
}

.desktop a {
    color: #7f9aa5;
}

.input-search {
    background-color: #fafafa;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-search input {
    background-color: white;
    width: 98%;
    margin-left: 5px;
    padding: 10px 35px;
    border: none;
}

.input-search i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    color: #bfbfbf;
}

.contact {
    background-color: white;
    flex-grow: 1;
    overflow-y: auto;
}

.contact li:hover {
    background-color: #e9ebeb;
}

.active {
    background-color: #e9ebeb;
}

.contact li .text-message {
    font-size: 10px;
}

.contact li:first-child {
    margin-top: 7px;
}

.contact li {
    margin-bottom: 7px;
    padding: 7px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.contact .text-message {
    color: #8b8c8c;
    width: 60px;
}

.contact .date {
    font-size: 13px;
    color: #8b8c8c;
}

/* message box */

.message-box {
    border-left: 3px solid #e1e1e1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.info-profile {
    background-color: #eaeaea;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.image-profile .text-message {
    font-size: 13px;
    width: 200px;
    color: #8b8c8c;
}

.icon-bar-profile {
    color: #8b8c8c;
    display: flex;
    gap: 15px;
}

.conversation {
    background-color: #e6ddd4;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message {
    padding: 10px;
    padding-bottom: 25px;
    padding-right: 50px;
    position: relative;
    max-width: 60%;
    min-width: 150px;
    border-radius: 5px;
    margin: 5px 20px;
    position: relative;
}

.message-send {
    background-color: #c7ffba;
    align-self: flex-end;
}

.message-received {
    background-color: white;
    align-self: flex-start;
}

.message-send .date-message, .message-received .date-message {
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: #687376;
    font-size: 12px;
}

.message-bar {
    background-color: #f4eeea;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-bar input {
    width: 70%;
    height: 55%;
    border: none;
    padding: 10px;
}

.message-bar i {
    color: #687376;
    font-size: 22px;
}

.dropdown {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;    
    position: absolute;
    border-radius: 8px;
    top: 70%;
    left: 20%;
    width: 60%;
    z-index: 1;
    display: none;
}

@media screen and (max-width: 650px) {

    .contact .date {
        display: none;
    }

    .contact .text-message {
        width:70px;
    }

    .profile .icon-profile i:nth-child(2) {
        display: none;
    }

    .desktop p {
        display: none;
    }

    .info-profile .text-message {
        display: none;
    }

    .conversation .date-message {
        font-size: 8px;
    }

    .message {
        font-size: 12px;
    }

}